# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:hallowed-manatee-972 # team: kolia-gorbei, project: notes-app-pv-314

EXPO_PUBLIC_CONVEX_URL=https://hallowed-manatee-972.eu-west-1.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://hallowed-manatee-972.eu-west-1.convex.site